/** {border: 1px black solid;}*/

/* MOBILE FIRST STYLE */

body {
	background-color: #DBDBDB;
}

#quote_box {
  font-family: "Quicksand", sans-serif;
  font-size: 2.2em;
	background-color: white;
	padding: .5em;
	position: relative;
}

.fa-quote-right {
	color: #DBDBDB;
}

.new_quote {
	background-color: white;
	width: 100%;
	font-family: "Quicksand", sans-serif;
	font-size: .5em;
  border: 0px solid #DBDBDB;
  text-align: right;
  text-decoration: none;
}

.new_quote:focus {
    outline: 0;
}

#social {
	color: white;
	font-size: 3em;
	padding: 10px;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

@media all and (min-width: 40em) {
	#container {
		width: 600px;
		margin: auto;
	}
}

/* EXTENDED SIZE STYLE */

@media all and (min-width: 50em) {
	#quote_box {
		margin-top: 100px;
		font-size: 3em;
		padding: 1em;
	}

	.new_quote {
		border: 6px solid #DBDBDB;
		width: auto;
		position: absolute;
		padding: 10px 15px;
  	text-align: center;
  	font-size: .3em;
	}

	#new_quote {
		left: -50px;
		top: -20px;
	}

	#bob_ross {
		right: -50px;
		bottom: -20px;
	}

	#social {
		font-size: 2em;
	}
}